.section {
    width: 100%;
    padding-top: 5vh;
}
.section_even {
    background: linear-gradient(to top left, #fffff4 0%, #fffff4 20%, black 20%, black 80%, #fffff4 80%, #fffff4 100%)
}
.section_odd {
    background: linear-gradient(to top right, #fffff4 0%, #fffff4 20%, black 20%, black 80%, #fffff4 80%, #fffff4 100%);
}
.section_div {
    display: flex;
    width: 100%;
    padding: 0 5vh 15vh 5vh;
    margin: auto;
    transition: opacity 1s ease-in-out, transform 2s ease-out;
}
.section_aside {
    width: 50%;
}
.section_article {
    display: flex;
    width: 50%;
    flex-direction: column;
    color: #fffff4;
}
.section_article h3 {
    font-size: 3vw;
    margin: 0;
    padding: 0;
}
.section_article p{
    font-size: 1.9vw;
    width: 80%;
}
.section_odd .section_article {
    margin-left: 7%;
}
.section_odd .section_aside{
    display: flex;
    justify-content: flex-end;
}

.section_img {
    width: 80%;
    min-width: 35vw;
    animation: fadeIn 2s ease-in;
}

@media only screen and (max-width: 650px){
    .section_div {
        width: 100%;
        padding: 0 2.5vh 15vh 2.5vh;
        align-items: center;
        flex-direction: column;
    }
    .section_odd .section_div {
        flex-direction: column-reverse;
    }
    .section_article {
        margin: 5vh  0 0 0;
        width: 75%;
        align-self: flex-start;
    }
    .section_article h3 {
        font-size: 3.5vh;
        width: 95%;
    }
    .section_article p {
        font-size: 2vh;
        width: 90%;
    }
    .section_odd .section_article {
        align-items: flex-end;
        text-align: right;
        align-self: flex-end;
    }
    .section_aside {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section_odd .section_aside {
        justify-content: center;
    }
    .section_img {
        width: 95%;
        max-width: 400px;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}