.section_top {
    height: 100vh;
    background: url("/images/atmosphere.jpg") no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    filter: grayscale(0.50);
    display: flex;
    align-items:center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
.section_top_text {
    color: #fffff4;
    text-shadow: 2px 2px 1px black;
    font-size: 4vw;
    font-weight: 700;
    width: 60%;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}
.section {
    width: 100%;
}
.section_div{
        width: 100%;
        display: flex;
        align-items: center;
        transform: translateX(0);
        transition: opacity 500ms ease-in-out, transform 1.5s ease-out;
}
.section_even {
    background: linear-gradient(to top right, #fffff4 0%, #fffff4 25%, black 25%, black 75%, #fffff4 75%, #fffff4 100%)
}
.section_odd {
    background: linear-gradient(to top left, #fffff4 0%, #fffff4 25%, black 25%, black 75%, #fffff4 75%, #fffff4 100%);
}
.section_image {
    max-height: 40vw;
    padding: 10px;
    margin: 10px; 
    filter: grayscale(0.50);
    transition: filter 500ms ease-in-out;
}
.section-image:hover {
    filter:grayscale(0);
}
.section_text {
    color: #fffff4;
    text-shadow: 2px 2px 1px black;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    line-height: 2;
    font-weight: 700;
    width: 60%;
    margin: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    text-align: center;
}

.section_button{
    padding: 4px;
    width: fit-content;
    font-size: 2vw;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.hidden {
    transform: translateY(-100px);
    opacity: 0;
}

@media only screen and (max-width: 650px) {
    .section_top_text{
        font-size: 10vw;
        width: 90%;
        line-height: 2;
    }
    .section {
        height: 40vh;
    }
    .section_image {
        max-height: 35vh;
        max-width: 55vw;
    }
    .section_text {
        font-size: 75%;
        line-height: 1.25;
    }
    .section_button {
        font-size: 100%;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}